<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Logged out')}"></head>
<body>
<header th:replace="~{fragments :: page-header-plain}"></header>
<main class="content content-narrow">
    <section class="box box-primary">
        <div class="box-header"><h1 class="box-title">Logged out of bank links</h1></div>
        <div class="box-body">
            <p>This does not log you out of Firefly.</p>
        </div>
        <div class="box-footer actions">
            <a class="btn btn-primary" th:href="@{/}">Log in again</a>
            <a class="btn btn-default" href="/">Back to Firefly</a>
        </div>
    </section>
</main>
</body>
</html>
